:root{
  font-size: 18px;
 
}
.container {
  display: flex;
  align-items: center;
}

* {
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
}

table{
  width: 70%;
  min-width: 800px;
  max-width: 1600;
  border: 3px solid blue;
  border-collapse: collapse;
  border-spacing: 20px;
  margin: 50px auto;
}
th{
  font-size: 1.3rem;
  font-weight: 200;
  padding: 20px 20px;
}

thead>tr{
  color:white;
}

thead>tr>th:nth-child(1){
  background-color: rgb(119, 133, 177);
  width: 28%;
  border-top-left-radius: 10px;
}

thead>tr>th:nth-child(2){
  background-color: rgb(92, 92, 148);
  width: 18%;
}
thead>tr>th:nth-child(3){
  background-color:rgb(84, 94, 130);
  width: 18%;
}
thead>tr>th:nth-child(4){
  background-color:rgb(73, 81, 110);
  width: 18%;
}
thead>tr>th:nth-child(5){
  background-color:rgb(51, 59, 85);
  width: 18%;
  border-top-right-radius: 10px;
}
tbody>tr:last-child>td:nth-child(1){
  border-bottom-left-radius: 10px;
}
tbody>tr:last-child>td:last-child{
  border-bottom-right-radius: 10px;
}
tbody tr :first-child{
width: 18%;
padding-top: 10px;
padding-bottom: 10px;
}
tbody td {
  width: 18%;
padding-top: 10px;
padding-bottom: 10px;
}


tbody>tr>td:nth-child(1){
  text-align: left;
  padding-left: 20px;
}
tbody>tr{
  height: 48px;
  text-align: center;
}
tbody>tr:last-child>td{
  height: 60px;
  padding-bottom: 18px;
}

tbody>tr:nth-child(odd)>td:nth-child(even),
tbody>tr:nth-child(even)>td:nth-child(odd){
  background-color:rgb(241, 241, 241)
}
tbody>tr:nth-child(even)>td:nth-child(even),
tbody>tr:nth-child(odd)>td:nth-child(odd){
  background-color:rgb(218, 218, 218) ;
}
tbody>tr:nth-child(even)>td:nth-child(even),
tbody>tr:nth-child(2n+2)>td:nth-child(2n+2){
  background-color:rgb(224, 224, 224)
}
tbody>tr:last-child>td>button{
  width: 90px;
  height: 32px;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 8px 12px;
  border: 1px solid rgb(165, 149, 149);
  margin: center
}

span{
  font-size: 1.8rem;
}

td{
  width: 20%;
vertical-align: bottom;
}
p{
  margin: center;
}